<div class="bg-zinc-800 text-zinc-100 py-40">
  <div class="max-w-4xl mx-auto px-4 py-8 prose-invert">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="mt-2 text-4xl font-bold tracking-tightsm:text-6xl">Tech ONcultancy Services</h2>
          <p class="mt-6 text-lg leading-8">
          </p>
        </div>
    </div>
  </div>
</div>
